#one {width: 600px;
	line-height: 140%;
	background-color:#2196F3;
	position: center;
	border-style: solid;
	border-width: 2px;
	border-color: #E91E63;
	margin:3px;
	padding-left:20px;
}

#two {width: 600px;
	line-height: 140%;
	background-color:#2196F3;
	position: center;
	border-style: solid;
	border-width: 2px;
	border-color: #E91E63;
	margin:3px;
	padding-left:20px;
}

#three {width: 600px;
	line-height: 140%;
	background-color:#2196F3;
	position: center;
	border-style: solid;
	border-width: 2px;
	border-color: #E91E63;
	margin:3px;
	padding-left:20px;
}

#four {width: 600px;
	line-height: 140%;
	background-color:#2196F3;
	position: center;
	border-style: solid;
	border-width: 2px;
	border-color: #E91E63;
	margin:3px;
	padding-left:20px;
}

#five {width: 600px;
	line-height: 140%;
	background-color:#2196F3;
	position: center;
	border-style: solid;
	border-width: 2px;
	border-color: #E91E63;
	margin:3px;
	padding-left:20px;
}

#six {width: 600px;
	line-height: 140%;
	background-color:#2196F3;
	position: center;
	border-style: solid;
	border-width: 2px;
	border-color: #E91E63;
	margin:3px;
	padding-left:20px;
}