body{width:10000px;}

#container1 {height:75px;
			width:50px;
			float:left;
			background-color:red;}

#textblock1 {height:75px;
			width:400px;
			float:left;}

#container2 {height:75px;
			width:50px;
			float:left;
			background-color:red;}

#container2 {height:75px;
			width:50px;
			float:left;
			background-color:red;}

#textblock2 {height:75px;
			width:400px;
			float:left;
			}

#container3 {height:75px;
			width:50px;
			float:left;
			background-color:red;}

#container3 {height:75px;
			width:50px;
			float:left;
			background-color:red;}

#textblock3 {height:75px;
			width:400px;
			float:left;}

#container4 {height:75px;
			width:50px;
			float:left;
			background-color:red;}

#container4 {height:75px;
			width:50px;
			float:left;
			background-color:red;}

#textblock4 {height:75px;
			width:400px;
			float:left;}

#container5 {height:75px;
			width:50px;
			float:left;
			background-color:red;}

#container5 {height:75px;
			width:50px;
			float:left;
			background-color:red;}

#textblock5 {height:75px;
			width:400px;
			float:left;}

#container6 {height:75px;
			width:50px;
			float:left;
			color:red;}