html {background-color:#FF1744;}

body {background-color:#FFFFFF;
	width:500px;
	margin:auto;
	margin-top: 70px;
	font-family: Helvetica;
	text-align: center;
	border: 8px solid;
}

/*Creating an animation where the background changes from green to another color.*/