body{width:2500px;}

#textblock1 {height:75px;
			width:400px;
			float:left;
			padding-left: 50px;
			border-bottom: 2px solid;
			border-right: 2px solid;}

#container2b {height:75px;
			width:100%;
			float:left;}

#textblock2 {height:75px;
			width:400px;
			float:left;
			padding-left: 450px;
			border-bottom: 2px solid;
			border-right: 2px solid;}

#container3b {height:75px;
			width:100%;
			float:left;}

#textblock3 {height:75px;
			width:400px;
			float:left;
			padding-left: 850px;
			border-bottom: 2px solid;
			border-right: 2px solid;}

#container4b {height:75px;
			width:100%;
			float:left;}

#textblock4 {height:75px;
			width:400px;
			float:left;
			padding-left: 1250px;
			border-bottom: 2px solid;
			border-right: 2px solid;}

#container5b {height:75px;
			width:100%;
			float:left;}

#textblock5 {height:75px;
			width:400px;
			float:left;
			padding-left: 1650px;
			border-bottom: 2px solid;
			border-right: 2px solid;}

#container6b {height:75px;
			width:100%;
			float:left;}

#textblock6 {height:75px;
			width:400px;
			float:left;
			padding-left: 2050px;
			border-bottom: 2px solid;
			border-right: 2px solid;}