* { box-sizing: border-box; }

html, body {
	height: 100%;
}

body {
	margin: 0;
	width: 7500px;
}

.box {
	width: 1200px;
	height: 100%;
	background-color:#00E676;
	border-style: dashed;
	border-width: 2px;
	border-color: #00C853;
	padding-left:20px;
	float:left;
}

#one {
}

#two {
}

#three {
}

#four {
}

#five {
}

#six {
}