body {width: 7500px;}

#one {width: 1200px;
	height: 700px;
	background-color:#00E676;
	border-style: dashed;
	border-width: 2px;
	border-color: #00C853;
	margin:3px;
	padding-left:20px;
	float:left;
}

#two {width: 1200px;
	height: 700px;
	background-color:#00E676;
	border-style: dashed;
	border-width: 2px;
	border-color: #00C853;
	margin:3px;
	padding-left:20px;
	float: left;
}

#three {width: 1200px;
	height: 700px;
	background-color:#00E676;
	border-style: dashed;
	border-width: 2px;
	border-color: #00C853;
	margin:3px;
	padding-left:20px;
	float:left;
}

#four {width: 1200px;
	height: 700px;
	background-color:#00E676;
	border-style: dashed;
	border-width: 2px;
	border-color: #00C853;
	margin:3px;
	padding-left:20px;
	float:left;
}

#five {width: 1200px;
	height: 700px;
	background-color:#00E676;
	border-style: dashed;
	border-width: 2px;
	border-color: #00C853;
	margin:3px;
	padding-left:20px;
	float:left;
}

#six {width: 1200px;
	height: 700px;
	background-color:#00E676;
	border-style: dashed;
	border-width: 2px;
	border-color: #00C853;
	margin:3px;
	padding-left:20px;
	float:left;
}