* { box-sizing: border-box; }

html, body {
	height: 100%;
}

body {
	margin: 0;
	width: 15000px;
}

.box {
	width: 2500px;
	height: 100%;
	background-color:#00E676;
	border-top:2px dashed;
	border-bottom:2px dashed;
	border-color: #00C853;
	padding-left:20px;
	float:left;
}
