/*AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/

.A{
	height:180px;
	width:180px;
	background-color:#FF1744;
	display:inline-block;
	position:relative;
}

.A .left{
	position: absolute;
	height: 180px;
	width: 60px;
	background: black;
	bottom:0px;
	left:25px;
	z-index: 5;
	transform: skew(-15deg);
	transform: scale(2,2);
}

.A .right{
	position: absolute;
	height: 180px;
	width: 60px;
	background: black;
	bottom:0px;
	right:25px;
	z-index: 5;
	transform: skew(15deg);
	transform: scale(2,2);
}

.A .middle{
	position: absolute;
	height: 60px;
	width: 90px;
	background: black;
	bottom:20px;
	right: 45px;
	z-index: 5;
	transform: scale(2,2);
}